.container {
  overflow: initial;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;
  .mat-dialog-actions {
    margin-left: auto;
  }
}

h1 {
  margin-bottom: 2rem;
}
