<head>
    <link rel="stylesheet" href="/stylesheets/index.css" />
</head>

<body>
    <div class="wrapper">
    <h1 class="h1">New exercise</h1>
    <h4 class="text-muted">add exercises to <%= programName %></h4>
    <br/>
    <div id="form-content">
    <form action="/programs/edit" method="POST">
        <input 
            type="text" 
            id="fname" 
            name="fname"
            placeholder="Name"
            autofocus=true
            required>
        <br/>
        <input 
            type="text" 
            id="fdesc"
            name="fdesc"
            placeholder="Description">
        <br/>
        <input 
            type="number" 
            id="fsets" 
            name="fsets"
            placeholder="Sets">
        <br/>
        <input 
            type="number" 
            id="freps" 
            name="freps"
            placeholder="Repetitions">
        <br/>
        <input 
            type="text" 
            hidden="true" 
            id="fprogramName" 
            name="fprogramName" 
            value="<%= programName %>">
        <input
            class="form-btn" 
            type="submit" 
            value="Add">
    </form>
    <br/>
    <div id="form-footer">
        <a class="footer-link"href="/programs/">Done</a>
    </div></div></div>
</body>

</html>