<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/stylesheets/index.css" />
</head>

<body>
  <div class="wrapper">
    <h1 class="h1">Find program</h1>
    <br/>
    <div id="form-content">
      <form class="container" action="/programs/program" method="POST">
        <input 
          type="text" 
          id="fname" 
          name="fname" 
          placeholder="Name" 
          autofocus=true 
          required>
        <br />
        <input 
          class="form-btn" 
          type="submit" 
          value="Find">
        <br/>
      </form>
    </div>
    <% if (error) { %>
      <p class="error"><%- error %></p>
      <% } %>
  </div>
</body>

</html>