<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <link rel="stylesheet" href="bootstrap.min.js""/>
  </head>
  <body>
    <div class="wrapper fade-in-down">
      <div id="form-content">
        <!-- Signin Form -->
        <form class="container">
          <input
            type="text"
            id="signin"
            class="fade-in-down"
            name="sign-in"
            placeholder="Email"
          />
          <input
            type="text"
            id="password"
            class="fade-in-down"
            name="sign-in"
            placeholder="Password"
          />
          <input
            id="sign-in-btn"
            type="submit"
            class="fade-in-down"
            value="Sign In"
          />
        </form>

        <!-- Forgot Password -->
        <div id="form-footer">
          <a id="forgot-password" href="#">Forgot Password?</a>
        </div>
      </div>
    </div>
  </body>
</html>
