<link rel="stylesheet" href="/stylesheets/index.css" />
<div class="wrapper fade-in-down">
  <div id="form-content">
    <!-- Signin Form -->
    <form class="container" action="/sign-in" method="post">
      <input
        type="email"
        id="signin"
        class="fade-in-down"
        name="email"
        placeholder="Email"
      />
      <input
        type="password"
        id="password"
        class="fade-in-down"
        name="password"
        placeholder="Password"
      />
      <input
        class="form-btn"
        type="submit"
        class="fade-in-down"
        value="Sign In"
      />
    </form>
    <% if (error) { %>
    <p class="error"><%- error %></p>
    <% } %>

    <!-- Forgot Password -->
    <div id="form-footer">
      <a class="footer-link" href="sign-up">Or sign up...</a>
      <a class="footer-link" href="#">Forgot Password?</a>
    </div>
  </div>
</div>
