caption {
  padding: 10px;
  font-size: 20px;
  text-align: center;
  caption-side: top;
}

.mat-header-cell {
  text-align: center;
  font-weight: bold;
  font-size: medium;
}

.program {
  margin-bottom: 2rem;
}

.program-card-content {
  text-align: center;
}

mat-card {
  margin: 1rem;
  height: 80vh;
  overflow-y: auto;
}

.spacer {
  margin: auto;
}
