<div >
  <header>
    <video
      playsinline="playsinline"
      autoplay="autoplay"
      muted="muted"
      loop="loop"
    >
      <source
        src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4"
        type="video/mp4"
      />
    </video>
    <div class="header-txt">
      <p *ngIf="user$ | async as user" mat-h1>
        Welcome {{user.fullname}}!
      </p>
      <h1 mat-h1>
        Reach for the top
      </h1>
      <p>With FitnessApp</p>
    </div>
  </header>
  <div class="content" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="left" fxFill>
    <mat-card fxFlex="50%" class="mat-elevation-z4">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        sapien dui, malesuada vel diam eget, pulvinar maximus nulla. Cras
        porta nisi vel turpis luctus venenatis. Morbi volutpat elit
        ultrices, gravida tortor at, bibendum lacus. Quisque fringilla magna
        mi. Pellentesque tincidunt vitae lectus a accumsan. Donec est nunc,
        vestibulum ut elementum vitae, vehicula quis arcu. Donec enim augue,
        molestie ut vulputate et, facilisis non turpis.
      </p>
      <p>
        Nunc nec ex eros. Interdum et malesuada fames ac ante ipsum primis
        in faucibus. Duis mauris est, egestas a pellentesque at, mollis ut
        neque. Vestibulum ante ipsum primis in faucibus orci luctus et
        ultrices posuere cubilia curae; Etiam viverra neque eget massa
        mattis blandit. Vestibulum sed pellentesque enim, at maximus leo.
        Vestibulum tellus nunc, commodo sed vehicula non, dapibus sit amet
        eros. Sed quis lacus risus. Sed elementum, leo nec efficitur mattis,
        elit nibh mattis odio, ac varius lectus magna quis ex. Quisque
        dictum pretium felis, non sollicitudin odio mollis a. Mauris congue
        elementum turpis, vitae luctus nulla pretium ac. Suspendisse sed
        porttitor justo, in ultricies nisi. Donec sit amet nulla posuere,
        luctus sapien vitae, congue dolor. Vestibulum in turpis justo. Nam
        et ultricies justo. Donec sit amet suscipit nisi, eget tristique mi.
      </p>
      <p>
        Sed et arcu non ligula faucibus vulputate ac vitae augue. Nam
        imperdiet quam risus, vel lacinia ligula blandit nec. Vestibulum
        ante ipsum primis in faucibus orci luctus et ultrices posuere
        cubilia curae; Cras semper, velit eget lobortis ullamcorper, sem
        nisi lacinia sem, id faucibus odio tortor vehicula purus. Ut
        tincidunt euismod auctor. Praesent in mollis dui. Suspendisse
        lobortis mauris libero. Nulla a congue felis. Cras varius
        ullamcorper placerat. Suspendisse posuere consequat feugiat. Duis
        nibh elit, consectetur quis malesuada sit amet, tempor et ex.
        Curabitur ultrices sapien quis suscipit egestas. Quisque a
        sollicitudin ex. Sed convallis, tellus sed auctor efficitur, nunc
        turpis dignissim magna, eu facilisis mauris mi in dolor. Ut sed
        hendrerit libero, vitae venenatis ipsum. Phasellus eget ultrices
        libero.
      </p>
    </mat-card>
    <mat-card fxFlex="50%" class="mat-elevation-z4">
      <p>
        Aenean aliquet nunc et ante aliquet blandit. Duis laoreet malesuada
        suscipit. Aliquam sit amet rhoncus tellus. Sed mattis, mi eget
        pharetra congue, sem velit dignissim arcu, ut feugiat lacus ligula a
        massa. Donec congue tellus quis nulla consectetur, id sodales tortor
        finibus. Etiam cursus gravida turpis, ac pretium mauris varius vel.
        Orci varius natoque penatibus et magnis dis parturient montes,
        nascetur ridiculus mus. Aliquam sed egestas ante, eget sollicitudin
        mauris. Morbi aliquam accumsan porttitor. Praesent aliquet lacus
        quis maximus condimentum.
      </p>
      <p>
        Quisque convallis pellentesque neque et placerat. Quisque
        consectetur vulputate turpis cursus dictum. Ut ac faucibus urna, sed
        auctor lorem. Praesent sit amet nisi non eros elementum imperdiet id
        semper nibh. Duis cursus augue condimentum finibus sodales.
        Suspendisse ac mi sollicitudin, ultricies orci sit amet, accumsan
        augue. Nunc molestie nunc tellus. Nullam bibendum turpis ut erat
        eleifend viverra. Vestibulum congue elit quis ligula fringilla, nec
        eleifend quam scelerisque. Morbi felis justo, tempus id aliquet non,
        venenatis in purus. Pellentesque malesuada ex ac rhoncus auctor.
        Praesent turpis leo, aliquam sit amet vestibulum sed, dictum sed
        lacus. Etiam ut egestas mauris.
      </p>
    </mat-card>
  </div>
</div>


