<form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
  <mat-card class="register-card">
    <mat-card-header>
      <mat-card-title>Register Your Information</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <mat-form-field class="full-width">
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="addressForm.controls['email'].hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="full-width">
          <input matInput placeholder="Full name" formControlName="fullname">
          <mat-error *ngIf="addressForm.controls['fullname'].hasError('required')">
            Full name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="full-width">
          <input matInput placeholder="Username" formControlName="username">
          <mat-error *ngIf="addressForm.controls['username'].hasError('required')">
            Last name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="full-width">
          <input matInput type="password" placeholder="Password" formControlName="password">
          <mat-error *ngIf="addressForm.controls['password'].hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
